# =========================
# CP Focus - Variaveis de ambiente
# =========================

# Gemini
GEMINI_API_KEY=
GOOGLE_GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Futuro pagamento
STRIPE_SECRET_KEY=
STRIPE_PRICE_PREMIUM=
NEXT_PUBLIC_APP_URL=http://localhost:3000
# local ou supabase
NEXT_PUBLIC_DATA_PROVIDER=local
